
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<div>
    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {
        <input type="text" name="kod" />
        <input type="submit" value="QR Oluştur" />
    }
    <br />
    @if (ViewBag.QrCode != null)
    {
        <img src="@ViewBag.QrCode" alt="" style="width:400px;height:400px;"/>
    }
</div>

